html{
    height: 100%;
    margin: 0;
}
body{
    min-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
}

#container{
    width: 950px;
    height: 700px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-radius: 15px;
}

#interface{
    width: 200px;
    height: 700px;
    background-color: rgb(214, 157, 1);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

#grid{
    width: 600px;
    height: 700px;
    background-color: black;
}

button{
    padding: 17px;
    width: 90px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 9px #999;
}

button:active{
    background-color: rgb(212, 212, 212);
    transform: translateY(4px);
    box-shadow: 0 5px #666;
}

#colors_title{
    font-size: 50px;
    color: white;
    border-bottom: 2px solid white;
    margin-top: 40px;
}

#sizes_title{
    font-size: 50px;
    color: white;
    margin-top: 40px;
    border-bottom: 2px solid white;
}

#options_title{
    font-size: 50px;
    color: white;
    margin-top: 20px;
    border-bottom: 2px solid white;
}

#btns,
#btns2{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}

#toggle{
    width: 150px;
    margin-left: 10px;
}